.min-content {
  width: min-content;
}

.grid {
  display: grid;
  height: min-content;
}
.grid-col {
  display: grid;
  grid-auto-flow: column;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-14 {
  gap: 14px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.nav {
  gap: 40px;
  justify-content: space-between;
}
.nav-history,
.rating_score {
  text-wrap: nowrap;
}
.nav-toggle-checkbox:checked + .nav_list {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.shop-links {
  display: none;
}

.section-product {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 36px;
  gap: 40px;
}
.product-gallery {
  grid-template-columns: 1fr 6fr;
  align-items: start;
  height: 100%;
  width: 100%;
}
.gallery {
  min-width: 86px;
}

.gallery-item {
  width: 100%;
  opacity: 0.6;
  transition: 0.4s;
}
.gallery-item:hover {
  cursor: pointer;
}
.gallery-item--selected {
  border: 1px solid black;
  border-radius: 6px;
  opacity: 1;
}
.gallery-main {
  width: 100%;
  max-height: 588px;
  object-fit: cover;
}

.product-title {
  font-family: "IntegralCF-Bold";
}
.product-content {
  width: 100%;
  gap: 24px;
}

.rating_icons {
  gap: 8px;
}

.colors-item--selected {
  justify-content: space-around;
}
.colors-item {
  cursor: pointer;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  align-items: center;
}
.product_qty {
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
}
.product_qty .qty_btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_qty .qty_num {
  font-weight: 600;
  font-size: 20px;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
}

.sizes::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.product-order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_btn {
  padding: 16px 32px;
  width: 100%;
  a {
    color: white;
  }
}
.section-pageChoice {
  margin-top: 80px;
}
.pageChoice {
  justify-content: space-around;
  gap: 12px;
  text-align: center;
  width: 100%;
  white-space: wrap;
}
.choice_page {
  padding-bottom: 24px;
}
.choice_page:nth-child(2) {
  color: var(--color-black);
  font-family: "Satoshi-Bold";
  border-bottom: 2px solid black;
}
.section-reviews {
  margin-top: 24px;
  gap: 20px;
}
.header-left {
  gap: 8px;
}
.header_title {
  color: var(--color-black);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 1.5rem);
  font-family: "Satoshi-Bold";
}

.filter-btn {
  display: block;
  padding: 12px 14px;
  padding-bottom: 8px;
}
.section-reviews {
  justify-items: normal;
  justify-content: normal;
}

.reviews-header {
  justify-content: space-between;
  align-items: center;
}
.header-left {
  grid-template-columns: min-content min-content;
  align-items: center;
  white-space: nowrap;
}
.header-right {
  max-width: 100%;
  grid-template-columns: min-content min-content min-content;
  justify-self: end;
}
.writeReview-btn {
  width: 100%;
  text-align: center;
}
.review-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.review-card-rating {
  width: min-content;
}
.content-title {
  width: min-content;
  white-space: nowrap;
}
.review-card {
  max-width: 100%;
  min-width: 0px;
}
.content-postDate {
  padding-top: 24px;
}
.reviewViewMore-btn {
  justify-content: center;
}
.section-newArrivals {
  justify-items: center;
}
.newArrivals-list {
  width: 100%;
}
.product-card {
  width: unset;
  height: 100%;
}
.newArrivals-title {
  text-align: center;
}
@media screen and (max-width: 380px) {
  .product_qty {
    width: 100%;
  }
  .product-order {
    flex-wrap: wrap;
  }
}
